@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.-font-white {
  color: #fff;
}

.-boxed {
  padding-top: 50px;
  padding-bottom: 100px;
}

.-line-up {
  line-height: 1.5;
}

.-font-red {
  color: #ff283c;
}

.-font-larger {
  font-size: 21px;
}

.-font-medium {
  font-size: 32px !important;
}

.-font-smaller {
  font-size: 14px;
}

.-font-dark {
  color: #232323;
}

.-font-light {
  color: #a7a7a7;
}

.-font-lighter {
  color: #797979;
}

.-relative {
  position: relative;
}

.-font-italic {
  font-family: "pf_dindisplay_prothin_italic", serif;
}

.-w25 {
  width: 25%;
}

.-left {
  float: left;
}

.-right {
  float: right;
}

.-inline {
  display: inline;
}

.-block {
  display: block;
}

.-inline-block {
  display: inline-block;
}

.-text-upper {
  text-transform: uppercase;
}

.-text-lower {
  text-transform: lowercase;
}

.-text-center {
  text-align: center;
}

.-text-left {
  text-align: left;
}

.-text-right {
  text-align: right;
}

.-margin-top-10 {
  margin-top: 10px;
}

.-margin-top-20 {
  margin-top: 20px;
}

.-margin-top-30 {
  margin-top: 30px;
}

.-margin-top-40 {
  margin-top: 40px;
}

.-margin-top-50 {
  margin-top: 50px;
}

.-margin-top-60 {
  margin-top: 60px;
}

.-margin-bottom-10 {
  margin-bottom: 10px;
}

.-margin-bottom-20 {
  margin-bottom: 20px;
}

.-margin-bottom-30 {
  margin-bottom: 30px;
}

.-margin-bottom-40 {
  margin-bottom: 40px;
}

.-margin-bottom-50 {
  margin-bottom: 50px;
}

.-margin-bottom-60 {
  margin-bottom: 60px;
}

.-margin-left-20 {
  margin-left: 20px;
}

.-margin-right-10 {
  margin-right: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fri {
  display: inline-block;
  background-repeat: no-repeat;
}

.fri-desktop {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -535px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 73px;
  width: 76px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-desktop {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -532px;
    height: 72px;
    width: 75px;
  }
}

.fri-desktop-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -475px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-desktop-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -473px;
    height: 55px;
    width: 56px;
  }
}

.fri-heart {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -770px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-heart {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -765px;
    height: 56px;
    width: 69px;
  }
}

.fri-heart-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -723px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-heart-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -718px;
    height: 42px;
    width: 52px;
  }
}

.fri-awward {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -126px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 74px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-awward {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -126px;
    height: 74px;
    width: 60px;
  }
}

.fri-awward-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -66px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 45px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-awward-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -66px;
    height: 55px;
    width: 45px;
  }
}

.fri-book {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -283px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 63px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-book {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -282px;
    height: 59px;
    width: 62px;
  }
}

.fri-book-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -233px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-book-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -233px;
    height: 45px;
    width: 47px;
  }
}

.fri-comma {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -450px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-comma {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -448px;
    height: 20px;
    width: 27px;
  }
}

.fri-facebook {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -684px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-facebook {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -680px;
    height: 34px;
    width: 34px;
  }
}

.fri-vk {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -1081px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-vk {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -1074px;
    height: 34px;
    width: 34px;
  }
}

.fri-twitter {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -1003px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-twitter {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -997px;
    height: 34px;
    width: 34px;
  }
}

.fri-bars {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -205px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-bars {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -205px;
    height: 23px;
    width: 30px;
  }
}

.fri-exit {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -613px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-exit {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -609px;
    height: 27px;
    width: 27px;
  }
}

.fri-devider-left {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 600px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-devider-left {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 0;
    height: 28px;
    width: 600px;
  }
}

.fri-devider-right {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -33px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 600px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-devider-right {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -33px;
    height: 28px;
    width: 600px;
  }
}

.fri-facebook-light {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -645px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-facebook-light {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -641px;
    height: 34px;
    width: 34px;
  }
}

.fri-vk-light {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -1042px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-vk-light {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -1035px;
    height: 34px;
    width: 34px;
  }
}

.fri-run-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -934px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 64px;
  width: 94px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-run-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -928px;
    height: 64px;
    width: 94px;
  }
}

.fri-paper-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -831px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 98px;
  width: 67px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-paper-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -826px;
    height: 98px;
    width: 67px;
  }
}

.fri-clock-dark {
  background-image: url('../images/icons-s6dd194af46.png');
  background-position: 0 -348px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 97px;
  width: 89px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-clock-dark {
    background-image: url('../images/icons-2x-s7211d7f066.png');
    background-size: 600px auto;
    background-position: 0 -346px;
    height: 97px;
    width: 89px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  color: #232323;
  font-family: "pf_dindisplay_proregular", serif;
}

strong {
  font-family: "pf_dindisplay_probold", serif;
}

a {
  text-decoration: none;
}

.link {
  color: #ff283c;
  text-decoration: none;
}
.link:hover {
  color: #ff283c;
  text-decoration: underline;
}

.uk-table tbody tr td span {
  color: #ff283c;
}
.uk-table tbody:not(.table-info) tr:hover {
  background: #ff283c;
}
.uk-table tbody:not(.table-info) tr:hover td {
  color: #fff;
}
.uk-table tbody:not(.table-info) tr:hover td span {
  color: #fff;
}
.uk-table tbody.table-info {
  background: #f8f8f8;
}
.uk-table tbody.table-info tr td {
  line-height: 1.5;
  padding-bottom: 10px;
}
.uk-table tbody.table-info tr:not(.table-info-full) td {
  font-family: "pf_dindisplay_promedium", serif;
  line-height: 1.5;
}
.uk-table tbody.table-info tr:hover {
  background: #f8f8f8;
}
.uk-table tbody.table-info tr:hover td {
  color: #232323;
}
.uk-table tbody.table-info tr:hover td span {
  color: #ff283c;
}
.uk-table th, .uk-table td {
  line-height: 1.5;
  padding: 10px 15px;
  font-family: "pf_dindisplay_prolight", serif;
  font-size: 14px;
}
.uk-table thead tr {
  background: #f8f8f8;
}
.uk-table thead tr th {
  font-family: "pf_dindisplay_proregular", serif;
}

.uk-button {
  font-family: "pf_dindisplay_prolight", serif;
  padding: 0 25px;
  line-height: 44px;
  font-size: 19.54px;
  border-radius: 50px;
}

.uk-button-large {
  line-height: 48px;
  font-size: 24.42px;
  padding: 0 35px;
}

.uk-button-primary {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #ff283c 50%);
  transition: all 0.3s ease-in-out;
}
.uk-button-primary:hover {
  background-position: 0 100%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ff283c;
}

.uk-button-danger {
  background-color: transparent;
  border: 2px solid #ff283c;
  color: #ff283c;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #ff283c 50%);
  transition: all 0.3s ease-in-out;
}
.uk-button-danger:hover {
  background-position: 0 100%;
  background-color: transparent;
  color: #fff;
}

.uk-article-title {
  font-family: "pf_dindisplay_prothin", serif;
  font-size: 42.4px;
}

.uk-article-lead {
  font-family: "pf_dindisplay_prolight", serif;
  font-size: 16px;
}

.uk-panel-box {
  background: #f8f8f8;
}

.site-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.section {
  padding: 120px 0;
}
@media only screen and (max-width: 767px) {
  .section {
    padding: 40px 0 !important;
  }
}

.title-text {
  font-family: "pf_dindisplay_prothin", serif;
  font-size: 42.4px;
  padding: 0 15px;
}

.title-text-smaller {
  font-family: "pf_dindisplay_prothin", serif;
  font-size: 32px;
  padding: 0;
}

.title-text-small {
  color: #797979;
  font-size: 21px;
  line-height: 30px;
  font-family: "pf_dindisplay_prothin", serif;
}

.header-section {
  max-height: 170px;
  min-height: 100px;
  padding-bottom: 150px;
  background-image: url('../images/header-bg.jpg?1473032715');
  background-size: contain;
  background-size: 1200px 800px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .header-section {
    background-image: url('../images/header-bg@2x.jpg?1473032715');
  }
}
.header-section.header-big {
  max-height: 807px !important;
}
.header-section.header-active {
  max-height: 807px;
  min-height: 637px;
}
.header-section::after {
  position: absolute;
  content: "";
  bottom: -340px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 400px 0 0 10000px;
  border-color: transparent transparent transparent #fff;
}
.header-section.header-line-red::after {
  border-color: transparent transparent transparent #ff283c;
}
.header-section .header-top {
  position: relative;
  z-index: 1;
}
.header-section .header-top .header-nav {
  position: relative;
  padding: 35px 14px;
}
.header-section .header-top .header-nav .navigation {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  transform: perspective(200px) rotateX(-15deg) scale(0.75);
  opacity: 0;
  width: 100%;
  height: 3000px;
  z-index: 6;
}
.header-section .header-top .header-nav .navigation .navigation-info-wrap {
  position: relative;
  width: 100%;
  background: #fff;
  height: 100%;
}
.header-section .header-top .header-nav .navigation .navigation-info-wrap::before {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  background: #fff;
  height: 100%;
  top: 0;
  left: -21px;
}
.header-section .header-top .header-nav .navigation .navigation-info-wrap::after {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  background: #fff;
  height: 100%;
  top: 0;
  right: -21px;
}
.header-section .header-top .header-nav .navigation .navigation-info {
  padding: 35px 14px;
  width: 100%;
  height: auto;
}
.header-section .header-top .header-nav .navigation .navigation-title {
  font-family: "pf_dindisplay_probold", serif;
  font-size: 21px;
  color: #232323;
}
.header-section .header-top .header-nav .navigation.active {
  visibility: visible;
  -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
  -moz-transform: perspective(200px) rotateX(0deg) scale(1);
  -o-transform: perspective(200px) rotateX(0deg) scale(1);
  transform: perspective(200px) rotateX(0deg) scale(1);
  opacity: 1;
}
.header-section .header-top .header-nav .navigation .navigation-list {
  margin: 30px 0 30px 15px;
  position: relative;
  z-index: 7;
}
.header-section .header-top .header-nav .navigation .navigation-list .uk-list li a {
  font-family: "pf_dindisplay_prolight", serif;
  font-size: 18px;
  color: #232323;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.header-section .header-top .header-nav .navigation .navigation-list .uk-list li a:hover {
  color: #ff283c;
}
.header-section .header-top .header-nav .navigation .navigation-list.navigation-small .navigation-title {
  margin: 0 0 10px -10px;
}
.header-section .header-top .header-nav .navigation .navigation-list.navigation-small .uk-list li a {
  font-family: "pf_dindisplay_prolight", serif;
  font-size: 14px;
  color: #232323;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.header-section .header-top .header-nav .navigation .navigation-list.navigation-small .uk-list li a:hover {
  color: #ff283c;
}
.header-section .menu-btn {
  font-family: "pf_dindisplay_probold", serif;
  font-size: 21px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}
.header-section .menu-btn:hover {
  text-decoration: none;
}
.header-section .header-info-cont {
  position: relative;
  margin-top: 41px;
}
.header-section .header-info .header-title-text {
  background: #ff283c;
  color: #fff;
  position: relative;
  padding: 27.5px 15px 40px 15px;
  margin: 224px 0 0 0;
}
.header-section .header-info .header-title-text::before {
  position: absolute;
  content: "";
  top: -397px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 10000px;
  border-color: transparent transparent #ff283c transparent;
}
.header-section .header-info .header-title-text::after {
  position: absolute;
  content: "";
  bottom: -200px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10000px 200px 0;
  border-color: transparent #ff283c transparent transparent;
}
.header-section .header-info .header-info-list {
  margin-top: 25px;
}
.header-section .header-info .header-info-list li, .header-section .header-info .header-info-list p {
  font-size: 16px;
  color: #fff;
  font-family: "pf_dindisplay_prothin_italic", serif;
}
.header-section .header-info .header-info-list li .icon-block, .header-section .header-info .header-info-list p .icon-block {
  height: 75px;
  line-height: 75px;
}
.header-section .header-info .header-info-list li p, .header-section .header-info .header-info-list p p {
  margin-top: 26px;
}

.info-section {
  padding: 25px 0;
}
.info-section li, .info-section p {
  font-size: 24px;
  color: #232323;
}
.info-section li .icon-block, .info-section p .icon-block {
  height: 75px;
  line-height: 75px;
}
.info-section li .icon-block p, .info-section p .icon-block p {
  margin-top: 26px;
}

.logo {
  background-image: url('../images/logo.png?1473032715');
  background-size: contain;
  background-size: 137.5px 37px;
  width: 137.5px;
  height: 37px;
  display: inline-block;
  margin: 36px 0 0 -15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .logo {
    background-image: url('../images/logo@2x.png?1473032715');
  }
}

.mobile-nav-btn {
  display: inline-block;
  margin: 35px 0 0 0;
}

.about-section {
  margin-top: 5px;
}
.about-section .uk-article-title {
  margin-top: 24px;
  line-height: 48px;
}
@media only screen and (max-width: 767px) {
  .about-section .uk-article-title {
    text-align: center;
  }
}
.about-section .uk-article-meta {
  margin: 31px 0 22px 0;
}
@media only screen and (max-width: 767px) {
  .about-section .uk-article-meta {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .about-section .uk-article-lead {
    text-align: center;
  }
}
.about-section .about-ava {
  text-align: center;
}
.about-section .about-ava img {
  max-width: 70%;
}
.about-section .read-my-blog {
  margin-top: 13px;
}
@media only screen and (max-width: 767px) {
  .about-section .read-my-blog-wrap {
    text-align: center;
  }
}

@media only screen and (max-width: 959px) {
  .care-section .care-section-img {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .care-section .care-section-img {
    margin-top: 80px;
  }
}
.care-section .care-section-img img {
  max-width: 70%;
}
.care-section .uk-article {
  margin-left: 106px;
}
@media only screen and (max-width: 959px) {
  .care-section .uk-article {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .care-section .uk-article {
    text-align: center;
  }
}
.care-section .uk-article-title {
  line-height: 48px;
}
.care-section .uk-article-lead {
  margin-top: 29px;
  line-height: 25px;
}
@media only screen and (max-width: 767px) {
  .care-section .uk-list {
    margin-top: 15px;
  }
}
.care-section .uk-list li {
  padding-left: 13px;
  position: relative;
}
.care-section .uk-list li::before {
  display: block;
  content: "●";
  position: absolute;
  font-size: 10px;
  top: 2px;
  left: 0;
}
.care-section .read-more {
  margin-top: 23px;
}
@media only screen and (max-width: 767px) {
  .care-section .read-more-wrap {
    text-align: center;
  }
}

.members-section {
  padding: 58px 0 120px 0;
}
.members-section .members-section-slider {
  margin-top: 40px;
}
.members-section .uk-slidenav-contrast {
  color: #232323;
}
.members-section .uk-slidenav-contrast.uk-slidenav-previous {
  left: -25px;
}
.members-section .uk-slidenav-contrast.uk-slidenav-next {
  right: -25px;
}
.members-section .uk-article {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .members-section .uk-article {
    width: 100%;
    text-align: center;
  }
}
.members-section .uk-article .uk-article-title img {
  max-width: 70%;
}
.members-section .uk-article .uk-article-meta {
  margin-top: 15px;
  font-size: 12px;
  font-family: "pf_dindisplay_prolight", serif;
  color: #232323;
}
.members-section .uk-article .uk-article-lead {
  font-family: "pf_dindisplay_prothin_italic", serif;
  font-size: 14px;
  color: #232323;
  line-height: 20px;
}
.members-section .uk-article .article-devider {
  margin: 37px 0 12px 0;
}
.members-section .more-reviews {
  margin-top: 31px;
}

.journal-section {
  position: relative;
  z-index: 1;
  padding: 71px 0 120px 0;
}
.journal-section .journal-sections-articles {
  margin-top: 35px;
}
.journal-section .uk-article {
  width: 70%;
  margin: 10px auto;
}
@media only screen and (max-width: 767px) {
  .journal-section .uk-article {
    width: 100%;
    text-align: center;
  }
}
.journal-section .uk-article .uk-article-title {
  position: relative;
  max-height: 175px;
}
.journal-section .uk-article .uk-article-title .article-small-info {
  position: absolute;
  background: #fff;
  font-size: 12px;
  font-family: "pf_dindisplay_probold", serif;
  padding: 5px 10px;
  border-radius: 15px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  line-height: 12px;
}
.journal-section .uk-article .uk-article-lead {
  font-family: "pf_dindisplay_promedium", serif;
  font-size: 21px;
  margin: 15px 0;
}
.journal-section .uk-article .uk-article-meta {
  font-size: 14px;
  font-family: "pf_dindisplay_prolight", serif;
  color: #232323;
}
.journal-section .read-more {
  margin-top: 41px;
}
.journal-section .journal-dropdown {
  background: #fff;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.journal-section .journal-dropdown .dropdown-title {
  font-size: 21px;
  font-family: "pf_dindisplay_promedium", serif;
  background: #f8f8f8;
  color: #232323;
  padding: 26px 0;
}
.journal-section .journal-dropdown .uk-list li {
  border-bottom: 1px solid #f1f1f1;
}
.journal-section .journal-dropdown .uk-list li a {
  color: #232323;
  font-size: 16px;
  font-family: "pf_dindisplay_prolight", serif;
  display: block;
  line-height: 54px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.journal-section .journal-dropdown .uk-list li a:hover {
  background: #ff283c;
  color: #fff;
}
.journal-section .journal-dropdown .uk-list li:last-child {
  border-bottom: none;
}

.footer-section {
  position: relative;
  background: #232323;
  padding: 10px 0 20px;
}
.footer-section::before {
  position: absolute;
  content: "";
  top: -400px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 10000px;
  border-color: transparent transparent #232323 transparent;
}
.footer-section .footer-info-wrap {
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .footer-section .footer-info-wrap {
    text-align: center;
  }
}
.footer-section .footer-info {
  float: left;
}
.footer-section .footer-info .logo-footer {
  background-image: url('../images/logo-small.png?1473032715');
  background-size: contain;
  background-size: 19.5px 21px;
  width: 19.5px;
  height: 21px;
  display: inline-block;
  float: left;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .footer-section .footer-info .logo-footer {
    background-image: url('../images/logo-small@2x.png?1473032715');
  }
}
.footer-section .footer-info .footer-info-text {
  font-size: 14px;
  font-family: "pf_dindisplay_prolight", serif;
  color: #fff;
  float: left;
  line-height: 23px;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .footer-section .footer-info {
    float: none;
    display: inline-block;
  }
}
.footer-section .footer-nav {
  float: left;
  margin-left: 20px;
}
.footer-section .footer-nav a {
  font-size: 14px;
  font-family: "pf_dindisplay_prolight", serif;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  line-height: 23px;
}
@media only screen and (max-width: 767px) {
  .footer-section .footer-nav {
    float: none;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer-section .footer-socials {
    text-align: center !important;
    margin-top: 10px;
  }
}
.footer-section .footer-socials a {
  display: inline-block;
  margin: 0 3px;
}

#mobile-nav .logo {
  margin: 15px 0;
}
#mobile-nav .uk-offcanvas-bar {
  background: #232323;
  padding: 0 15px;
}
#mobile-nav .mobile-nav-title {
  margin: 10px 0;
  font-size: 21px;
  color: #ff283c;
}
#mobile-nav .uk-list {
  margin-left: 10px;
}
#mobile-nav .uk-list li a {
  font-size: 16px;
  text-decoration: none;
  line-height: 25px;
  color: #fff;
}
#mobile-nav .uk-list li a:hover {
  color: #ff283c;
}

.uk-form input:not([type]),
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form input[type=datetime-local],
.uk-form input[type=date],
.uk-form input[type=month],
.uk-form input[type=time],
.uk-form input[type=week],
.uk-form input[type=color],
.uk-form select,
.uk-form textarea {
  background: #f8f8f8;
  font-family: "pf_dindisplay_prolight", serif;
  color: #a7a7a7;
}

.content-section {
  padding: 0;
  position: relative;
  z-index: 2;
}
.content-section .uk-form input:not([type]),
.content-section .uk-form input[type=text],
.content-section .uk-form input[type=password],
.content-section .uk-form input[type=email],
.content-section .uk-form input[type=url],
.content-section .uk-form input[type=search],
.content-section .uk-form input[type=tel],
.content-section .uk-form input[type=number],
.content-section .uk-form input[type=datetime],
.content-section .uk-form input[type=datetime-local],
.content-section .uk-form input[type=date],
.content-section .uk-form input[type=month],
.content-section .uk-form input[type=time],
.content-section .uk-form input[type=week],
.content-section .uk-form input[type=color],
.content-section .uk-form select,
.content-section .uk-form textarea {
  max-width: 480px;
  width: 100%;
  min-width: 300px;
}

@media only screen and (max-width: 767px) {
  .team-article {
    text-align: center;
  }
}
.team-article .article-ava {
  float: left;
  width: 30%;
}
@media only screen and (max-width: 767px) {
  .team-article .article-ava {
    width: 100%;
  }
  .team-article .article-ava img {
    max-width: 50%;
  }
}
.team-article .article-info {
  width: 70%;
  float: right;
  padding: 10px 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .team-article .article-info {
    width: 100%;
    padding: 20px 0;
  }
}

.price-list-bg {
  background-image: url('../images/pricelist-bg.jpg?1473032716');
  background-size: contain;
  background-size: 1200px 668px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .price-list-bg {
    background-image: url('../images/pricelist-bg@2x.jpg?1473032716');
  }
}
.price-list-bg .pricelist-img {
  margin-top: 50px;
}
.price-list-bg .pricelist-title-wrap {
  margin: 20px 0;
}
.price-list-bg .pricelist-title-wrap .pricelist-title {
  color: #fff;
  background: #ff283c;
  display: inline-block;
  line-height: 48px;
  padding: 0 15px;
}
.price-list-bg .pricelist-info {
  color: #fff;
  font-size: 21px;
}

.pricelist-article {
  padding: 0 30px 40px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.pricelist-article .icon-block {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.uk-container {
  max-width: 1200px;
}
.uk-container .title-text {
  padding: 0;
}

.article-grid .uk-article-title img {
  width: 100%;
}
.article-grid .uk-article-lead {
  margin: 10px 0;
  font-family: "pf_dindisplay_promedium", serif;
  font-size: 21px;
}

.uk-modal .uk-form {
  padding: 15px;
  display: block;
  width: 100%;
}
.uk-modal .uk-form input:not([type]),
.uk-modal .uk-form input[type=text],
.uk-modal .uk-form input[type=password],
.uk-modal .uk-form input[type=email],
.uk-modal .uk-form input[type=url],
.uk-modal .uk-form input[type=search],
.uk-modal .uk-form input[type=tel],
.uk-modal .uk-form input[type=number],
.uk-modal .uk-form input[type=datetime],
.uk-modal .uk-form input[type=datetime-local],
.uk-modal .uk-form input[type=date],
.uk-modal .uk-form input[type=month],
.uk-modal .uk-form input[type=time],
.uk-modal .uk-form input[type=week],
.uk-modal .uk-form input[type=color],
.uk-modal .uk-form select,
.uk-modal .uk-form textarea {
  display: block !important;
  width: 100% !important;
  height: 40px;
}

.page-title-lined {
  background: #ff283c;
  color: #fff;
  position: relative;
  padding: 0 0 60px 0;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .page-title-lined {
    margin-top: -40px;
  }
}
.page-title-lined h2 {
  position: relative;
  z-index: 2;
}
.page-title-lined::before {
  z-index: 1;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 10000px;
  border-color: transparent transparent #fff transparent;
}

.uk-list.page-list li {
  font-family: "pf_dindisplay_prolight", serif;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 15px;
  position: relative;
}
.uk-list.page-list li::before {
  display: block;
  content: "●";
  position: absolute;
  font-size: 10px;
  top: 5px;
  left: 0;
}
