@font-face {
    font-family: 'pf_dindisplay_problack';
    src: url('pfdindisplaypro-black-webfont.eot');
    src: url('pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-black-webfont.woff') format('woff'),
         url('pfdindisplaypro-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_probold';
    src: url('pfdindisplaypro-bold-webfont.eot');
    src: url('pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('pfdindisplaypro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proitalic';
    src: url('pfdindisplaypro-italic-webfont.eot');
    src: url('pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-italic-webfont.woff') format('woff'),
         url('pfdindisplaypro-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_prolight';
    src: url('pfdindisplaypro-light-webfont.eot');
    src: url('pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-light-webfont.woff') format('woff'),
         url('pfdindisplaypro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_promedium';
    src: url('pfdindisplaypro-med-webfont.eot');
    src: url('pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-med-webfont.woff') format('woff'),
         url('pfdindisplaypro-med-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('pfdindisplaypro-reg-webfont.eot');
    src: url('pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-reg-webfont.woff') format('woff'),
         url('pfdindisplaypro-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_prothin';
    src: url('pfdindisplaypro-thin-webfont.eot');
    src: url('pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-thin-webfont.woff') format('woff'),
         url('pfdindisplaypro-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proextrathin';
    src: url('pfdindisplaypro-xthin-webfont.eot');
    src: url('pfdindisplaypro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-xthin-webfont.woff') format('woff'),
         url('pfdindisplaypro-xthin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_problack_italic';
    src: url('pfdindisplaypro-blackit-webfont.eot');
    src: url('pfdindisplaypro-blackit-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfdindisplaypro-blackit-webfont.woff') format('woff'),
    url('pfdindisplaypro-blackit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_probold_italic';
    src: url('pfdindisplaypro-boldital-webfont.eot');
    src: url('pfdindisplaypro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfdindisplaypro-boldital-webfont.woff') format('woff'),
    url('pfdindisplaypro-boldital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proMdIt';
    src: url('pfdindisplaypro-medital-webfont.eot');
    src: url('pfdindisplaypro-medital-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfdindisplaypro-medital-webfont.woff') format('woff'),
    url('pfdindisplaypro-medital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_prothin_italic';
    src: url('pfdindisplaypro-thinital-webfont.eot');
    src: url('pfdindisplaypro-thinital-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfdindisplaypro-thinital-webfont.woff') format('woff'),
    url('pfdindisplaypro-thinital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proXThIt';
    src: url('pfdindisplaypro-xthinit-webfont.eot');
    src: url('pfdindisplaypro-xthinit-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfdindisplaypro-xthinit-webfont.woff') format('woff'),
    url('pfdindisplaypro-xthinit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
